.list1{
    list-style: square;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
}

.menu li{
    color: #116493;
    padding: 5px;
}

.menu a{
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #116493;
}