#first{
    float: left;
    color: red;
    background: grey;
    border: 5px red;
    width: 40%;
}

#second{
    float: left;
    color: green;
    background: #b3d4fc;
    border: 10px black;
    width: 40%;
}

#one{
    float: left;
    color: #888888;
    background: white;
    border: 1px black;
    border-style: dashed;
    width: 40%;
    font-size: 40px;
}

#two{
    float: left;
    color: #888888;
    background: white;
    border: 5px black;
    border-style: dashed;
    width: 40%;
    font-size: 40px;
}